<script type="text/javascript">
  function submit_writing(id){
    var content = $("#<%= @id%>_content");
    var ra_text = content.find(".newlet_text").val();
    var div_element = $("#div_"+id)

    var a_href = div_element.find(".icon_editor_model").attr("href");
    div_element.find("#"+id+"_text").val(ra_text);
    div_element.find(".requisitionText").html(ra_text);
    close_alert();
  }

  function close_alert(){
    easyDialog.close();
    removeShadow();
  }
</script>
<div class="pop_top pop_icon pop_iconTitle">
    <p class="pop_title">编辑文字</p>
      <a href="javascript:close_alert();" class="pop_colse pop_icon pop_iconColse" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <div class="pop_content" id="<%= @id%>_content">
  <form class="newlet_form">
      <div class="pop_form_text">
          <p class="pop_form_font"><label>文字：</label><input type="text"  class="newlet_text"/></p>
      </div>
      <div class="newlet_btn bgmg25">
        <div class="letBtn"><a href="javascript:submit_writing('<%= @id%>')" class="letBtn_a">提交</a><a href="javascript:close_alert()" class="letBtn_b" data-dismiss="modal" aria-hidden="true">关闭</a></div>
        <div class="clearBoth"></div>
  </div> 
  </form>  
</div>