    <div class="biaoqing_jc" id='biaoqing_jc' style="display:none;">
      <div id="biaoqing_jc_t" href="javascript:void(0)" onclick='jQuery("#biaoqing_jc").hide()' title="">添加表情吧</div>
      <div class="bq_img_box" style="background:yrl(/assets/close.png) no-repeat scroll 0 0;">
      <a href="javascript:void(0)"><img src="/assets/photo/smile.gif" alt="呵呵"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/tooth.gif" alt="嘻嘻"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/laugh.gif" alt="哈哈"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/love.gif" alt="爱你"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/dizzy.gif" alt="晕"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sad.gif" alt="泪"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/cz_thumb.gif" alt="馋嘴"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/crazy.gif" alt="抓狂"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/hate.gif" alt="哼"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/bb_thumb.gif" alt="抱抱"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/tz_thumb.gif" alt="可爱"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="怒"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sleepy.gif" alt="困"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/shame_thumb.gif" alt="害羞"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sleep_thumb.gif" alt="睡觉"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="睡觉"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/money_thumb.gif" alt="钱"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/hei_thumb.gif" alt="偷笑"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/cool_thumb.gif" alt="酷"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/cry.gif" alt="衰"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/cj_thumb.gif" alt="吃惊"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/bz_thumb.gif" alt="闭嘴"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/bs2_thumb.gif" alt="鄙视"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/kbs_thumb.gif" alt="挖鼻屎"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/hs_thumb.gif" alt="花心"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/gz_thumb.gif" alt="鼓掌"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sw_thumb.gif" alt="失望"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sk_thumb.gif" alt="思考"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sb_thumb.gif" alt="怒"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="生病"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/qq_thumb.gif" alt="亲亲"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/nm_thumb.gif" alt="怒骂"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/mb_thumb.gif" alt="太开心"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/ldln_thumb.gif" alt="懒得理你"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/yhh_thumb.gif" alt="右哼哼"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/zhh_thumb.gif" alt="左哼哼"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/x_thumb.gif" alt="嘘"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/wq_thumb.gif" alt="委屈"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/t_thumb.gif" alt="吐"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/kl_thumb.gif" alt="可怜"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/k_thumb.gif" alt="打哈气"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/d_thumb.gif" alt="顶"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/yw_thumb.gif" alt="疑问"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/ws_thumb.gif" alt="握手"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/ye_thumb.gif" alt="耶"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/good_thumb.gif" alt="good"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sad_thumb.gif" alt="弱"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/no_thumb.gif" alt="不要"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/ok_thumb.gif" alt="ok"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/z2_thumb.gif" alt="赞"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/come_thumb.gif" alt="来"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/cake.gif" alt="蛋糕"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/heart.gif" alt="伤心"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/clock_thumb.gif" alt="钟"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/pig.gif" alt="猪头"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/m_thumb.gif" alt="话筒"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/moon.gif" alt="月亮"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/rain.gif" alt="下雨"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/sun.gif" alt="太阳"/></a>
        <a href="javascript:void(0)"><img src="/assets/photo/lazu_thumb.gif" alt="蜡烛"/></a>
      </div>
    </div>
    
    <div class="biaoqing_jc_2" id='biaoqing_jc_2' style="display:none;">
    <div id="biaoqing_jc_t" href="javascript:void(0)" onclick='jQuery("#biaoqing_jc_2").hide()' title="">添加表情吧</div>
      <div class="bq_img_box">
        <a href="javascript:void(0)"><img src="/assets/photo/smile.gif" alt="呵呵"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/tooth.gif" alt="嘻嘻"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/laugh.gif" alt="哈哈"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/love.gif" alt="爱你"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/dizzy.gif" alt="晕"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sad.gif" alt="泪"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/cz_thumb.gif" alt="馋嘴"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/crazy.gif" alt="抓狂"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/hate.gif" alt="哼"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/bb_thumb.gif" alt="抱抱"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/tz_thumb.gif" alt="可爱"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="怒"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sleepy.gif" alt="困"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/shame_thumb.gif" alt="害羞"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sleep_thumb.gif" alt="睡觉"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="睡觉"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/money_thumb.gif" alt="钱"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/hei_thumb.gif" alt="偷笑"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/cool_thumb.gif" alt="酷"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/cry.gif" alt="衰"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/cj_thumb.gif" alt="吃惊"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/bz_thumb.gif" alt="闭嘴"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/bs2_thumb.gif" alt="鄙视"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/kbs_thumb.gif" alt="挖鼻屎"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/hs_thumb.gif" alt="花心"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/gz_thumb.gif" alt="鼓掌"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sw_thumb.gif" alt="失望"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sk_thumb.gif" alt="思考"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sb_thumb.gif" alt="怒"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/angry.gif" alt="生病"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/qq_thumb.gif" alt="亲亲"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/nm_thumb.gif" alt="怒骂"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/mb_thumb.gif" alt="太开心"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/ldln_thumb.gif" alt="懒得理你"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/yhh_thumb.gif" alt="右哼哼"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/zhh_thumb.gif" alt="左哼哼"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/x_thumb.gif" alt="嘘"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/wq_thumb.gif" alt="委屈"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/t_thumb.gif" alt="吐"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/kl_thumb.gif" alt="可怜"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/k_thumb.gif" alt="打哈气"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/d_thumb.gif" alt="顶"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/yw_thumb.gif" alt="疑问"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/ws_thumb.gif" alt="握手"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/ye_thumb.gif" alt="耶"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/good_thumb.gif" alt="good"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sad_thumb.gif" alt="弱"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/no_thumb.gif" alt="不要"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/ok_thumb.gif" alt="ok"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/z2_thumb.gif" alt="赞"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/come_thumb.gif" alt="来"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/cake.gif" alt="蛋糕"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/heart.gif" alt="伤心"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/clock_thumb.gif" alt="钟"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/pig.gif" alt="猪头"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/m_thumb.gif" alt="话筒"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/moon.gif" alt="月亮"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/rain.gif" alt="下雨"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/sun.gif" alt="太阳"/></a>
          <a href="javascript:void(0)"><img src="/assets/photo/lazu_thumb.gif" alt="蜡烛"/></a>
      </div>
    </div>