
  <div class="adminContentBox">
<div class="otherapp_box pb10">
  <div class="otherapp_triangle"></div>
     <ul class="mb10">
        <li><a href="http://e.weibo.com/apps/info?app_key=559504435" title="互动照片墙" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img1.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=4063459532" title="V官网" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img2.jpg" /></a></li>
        <!--
        <li><a href="http://e.weibo.com/apps/info?app_key=4074117225" title="粉丝生日提醒" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img3.jpg" /></a></li>
        -->
        <li><a href="http://e.weibo.com/apps/info?app_key=1354244431" title="晒单有礼" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img4.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=169585950" title="申请单" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img5.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=1217634928" title="天天抽大奖" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img6.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=3515940104" title="品牌大事纪" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img7.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=2737476255" title="企业问卷调查" target="_blank" class="otherapp_a_new"><img src="http://www.iluopan.com/assets/otherApp_img8.jpg" /></a></li>
        <li><a href="http://e.weibo.com/apps/info?app_key=3019662775" title="商城特卖" target="_blank" class="otherapp_a_new"><img src="http://ww3.sinaimg.cn/square/9c9eb7ffjw1e6ayfjx99cj2028028glg.jpg" /></a></li>


    </ul>
</div>
  </div>

<style>
/*其他应用*/
.otherapp_box{position:relative; display:none;}
.otherapp_box ul{ width:730px; overflow:hidden; border-radius:10px; background-color:#fff; padding:0px 0px 10px 0px; margin:0px auto; }
.otherapp_box li{ float:left; margin:10px 0px 0px 10px; width:80px; height:80px;}
.otherapp_a_new_new{ display:inline-block; width:80px; height:80px; margin:0px; padding:0px; }
.otherapp_triangle{ width:0px; height:0px; border-width:10px; border-style: dashed  dashed solid dashed ; border-color: transparent  transparent #fff transparent ; position:absolute; right:30px; top:-10px;}
body .mb10{margin-bottom:10px;}
body .pb10{padding-top:10px;}
</style>
<div class="clearfix"></div>    
<!--otherapp-->
<script type="text/javascript">
/*其他应用*/
  $(function(){
    $('.J_otherapp').click(function(){
      $('.otherapp_box').toggle();
    });
  });
</script>
